
@{
    ViewData["Title"] = "Alex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alex</h2>

<p>Zach Whitebread is the sweetest boy I have ever met and I wish him nothing but the best in the future!</p>

